body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 982px;
    background: #f5f5f5;
    border: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}